<div class="content-wrapper">
  <div class="sd">
    <div class="sd">
      <div class="sd">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2>Hava Durumu</h2>
          </div>
          <div class="panel-body">
            <div class="input-group mb-3" style="padding-right:80%;">

             <input type="text" class="form-control" id="city" [(ngModel)]="cityName" name="city" placeholder="City Name" >
              <div class="input-group-append">
              <button  class="btn btn-success" (click)="getWeather(cityName); toggleDisplay()">Get Weather</button>
              </div>

            </div>
            <div  class="panel-body" *ngIf="isShow">
            <table class="table table-striped" id="titles">
              <thead>
              <tr>
               <th></th>
                <th>Temperature</th>
                <th>Country</th>
                <th>City</th>
                <th>Humidity</th>
                <th>Pressure</th>
                <th>Description</th>
                <th>Sunrise Time</th>
                <th>Sunset Time</th>
              </tr>
              </thead>
              <tbody>
              <!--              <tr *ngFor="let weather of weathers | async">-->
              <td><img [src]="'http://openweathermap.org/img/w/' + weathers.icon + '.png'" class="mr-2"
                       style="width: 75px"></td>
              <td>{{weathers.temperature}}</td>
              <td>{{weathers.country}}</td>
              <td>{{weathers.city}}</td>
              <td>{{weathers.humidity}}</td>
              <td>{{weathers.pressure}}</td>
              <td>{{weathers.description}}</td>
              <td>{{weathers.sunriseTime}}</td>
              <td>{{weathers.sunsetTime}}</td>
              <!--              </tr>-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
